<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/d3/d3.js" ></script>
    <style>
        #metagraph {
            width: 1024px;
            height: 768px;
        }
    </style>
</head>
<body>
<button>show meta graph</button>
<div id="metagraph">
    <svg>
        <defs><marker id="arrowhead"  refX="0" refY="2" orient="auto"
                      markerUnits="strokeWidth"
                      markerWidth="5" markerHeight="4" ><path d="M 0,1 V 3 L3,2 Z" fill="#337" stroke="#337">

        </path></marker>
        </defs>
    </svg>
</div>
<script src="js/main.js"></script>
</body>
</html>