<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="EUC-KR">
<title>Graph data visualization by GraphWidget</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/GraphWidget.js"></script>
</head>
<body>
<div style="height:700px;" id="content">
</div>
<script>
$.ajax({
    url: "/api/graph/data"
    , type: "GET"
    , data: null
    , dataType : "json"
    , success: function (data) {
    	console.log('data', data)
    	console.log('data embedded', data.embedded)
    	// GraphWidget Object variable
		var GW = GraphWidget.GraphWidget
		
		// div id reference
		var gw = new GW('#content',{
			extension : {
				panzoom: {}
			}	
		})
		
    	// GraphWidget default layout call
		gw.doLayout()
		
		// Graph data add / auto rendering by default layout.
		gw.add(data.embedded)	
		
    }
    , error: function (jqxhr, status, errorMsg) {
    }
});
</script>
</body>
</html>