<!DOCTYPE html>
<html>
<title>Template</title>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- ############# CSS area ###############-->
<link rel="stylesheet" href="/css/w3/w3.css"></link>
<link rel="stylesheet" href="/css/raleway/raleway.css"></link>
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css"></link>
<!-- ###################################### -->
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- ############## contents ############## -->
<div id="contents"></div>
<!-- ###################################### -->

</body>
<!-- ######### script define area #########-->
<!-- jQuery -->
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<!-- GraphWidget -->
<script src="js/GraphWidget.js"></script>
<!-- React Component bundle -->
<script src="build/bundle.js"></script>
<!-- ###################################### -->
</html>